{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'student:create_student' %}" class="btn btn-success m-auto d-block mb-3">Add Student</a>
    <h1 class="m-auto h1 text-center my-4">Student List</h1>
    {% for student in students %}
    <div class="card m-auto mb-3" style="width: 18rem;">
        <div class="card-body">
            <strong>{{ student.first_name }} {{ student.last_name }}</strong>
        <p class="card-text">Roll No: {{ student.roll_no }}</p>
        <p class="card-text">Class: {{ student.class_name.name }}</p>
        <p class="card-text">Section: {{ student.section.name }}</p>
        <div class="btn-group" role="group">
            <a href="{% url 'student:update_student' student.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'student:delete_student' student.id %}" class="btn btn-danger">Delete</a>
        </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
